@media screen and (max-width: 60em) {
	.cover-wrap {
		display: none;
	}
}

@media screen and (max-height: 40em) {
	.bird-wrap {
		display: none;
	}
}

.cover-wrap {
	width: 50%;
	height: 100vh;
	position: fixed;
	background-color: #212121;
	border: solid 1em white;
	border-right: solid 0.5em white;
	.bird-wrap {
		.container {
			overflow: hidden;
			white-space: nowrap;
			margin-bottom: 1em;
		}

		.scrolling {
			animation: marquee 50s linear infinite;
			display: inline-block;
		}

		.scrolling2 {
			animation: marquee 50s linear infinite;
			display: inline-block;
			animation-direction: reverse;
		}

		.bird {
			width: calc(1em + 2vw + 16vh);
			height: calc(1em + 2vw + 16vh);
			display: inline-block;
			margin-right: 1em;
			background-size: cover;
			border-radius: 0.5em;
		}

		.circle {
			border-radius: 50%;
		}

		.top-half {
			border-top-left-radius: 50%;
			border-top-right-radius: 50%;
		}

		.bottom-half {
			border-bottom-left-radius: 50%;
			border-bottom-right-radius: 50%;
		}

		.left-half {
			border-top-left-radius: 50%;
			border-bottom-left-radius: 50%;
		}

		.right-half {
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
		}

		.square {
		}

		@keyframes marquee {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(-100%);
			}
		}
	}
	.text {
		padding: 1em;
		max-width: 60ch;
		min-width: 20ch;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.text-position {
			font-weight: 600;
			color: #ded6cf;
			text-align: center;
			h3 {
				font-family: 'SF Compact', 'SF Pro Text', Arial, Helvetica,
					sans-serif;
				font-size: 1.125rem;
				line-height: 1.16;
				margin-bottom: 0.5em;
				font-weight: 700;
			}
			h1 {
				font-size: 2rem;
				line-height: 1.4;
				margin-bottom: 1.5em;
			}
			p {
				font-size: 1.125rem;
				line-height: 1.4;
				margin-bottom: 0.625em;
			}
		}
	}
}
