.cover-wrap {
	width: 50%;
	height: 100vh;
	position: fixed;
	img {
		position: absolute;
		width: 100%;
		height: 100vh;
		object-fit: cover;
		object-position: left top;
	}
	.text {
		position: absolute;
		padding: 36px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		.text-position {
			grid-area: 1 / 2 / 2 / 6;
			font-weight: 600;
			color: #605e5c;
			h1 {
				font-size: 32px;
				line-height: calc(45 / 32);
				margin-bottom: 16px;
			}
			p {
				font-size: 18px;
				line-height: calc(25 / 18);
				margin-bottom: 64px;
			}
			figcaption {
				font-size: 14px;
				line-height: 22px;
			}
			figcaption.light {
				font-weight: 400;
			}
		}
	}
}
